@{
  Layout = "_Layout";
}
    <h2>Welcome to the University Registrar</h2>
    <hr />
    <p>Here you have access to the University's database where you can add/edit/delete student and course information.</p>