@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Course

<h4>Add a new course</h4>
@using (Html.BeginForm())
{
  @Html.Label("Name")
  @Html.TextBoxFor(model => model.Name)
  <br>
  <input type="submit" value="Add new course" class="btn">
}
<br>
<p>@Html.ActionLink("Show all courses", "Index")</p>